#define BLENDERFILE 1
#define IDR_VERSION1 1

#ifdef WINDRES
	#include "winresrc.h"
	#define IDC_STATIC (-1)
	#define STRINGIFY_(x) #x
	#define STRINGIFY(x) STRINGIFY_(x)
	#define BLEN_VER_RC_STR STRINGIFY(BLEN_VER_RC_STR_M)
#endif

APPICON ICON DISCARDABLE "winblender.ico"
BLENDERFILE ICON DISCARDABLE "winblenderfile.ico"

IDR_VERSION1 VERSIONINFO
FILEVERSION 3, 1, 0, 0
PRODUCTVERSION 3, 1, 0, 0
FILEOS 0x00000004
FILETYPE 0x00000001
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "04090000"
    BEGIN
      VALUE "FileVersion", "3.1.0"
      VALUE "ProductVersion", "3.1.0"
      VALUE "CompanyName", "SekaiBlender Goo"
      VALUE "FileDescription", "SekaiBlender Goo 3.1.0"
      VALUE "LegalCopyright", "GPLv3 (Blender Foundation)"
      VALUE "OriginalFilename", "SekaiBlender.exe"
      VALUE "ProductName", "SekaiBlender Goo"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x0409, 0x0000
  END
END

